body {
    background-color: #624E88;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;

    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

body > div {
    box-sizing:border-box;
    width: 500px;
    /* background-color: #9BB0C1; */
    margin: 40px;
    padding-left: 10px;
}

body > div > h1 {
    margin: 0;
    padding: 0;
    color: #CB80AB;
}

body > div > p {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    color: #E6D9A2;
}

body > div > div {
    box-sizing:border-box;
    background-color: #8967B3;
    width: 480px;
    height: 50px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 15px;
    color: #E6D9A2;
    font-weight: 700;
}

body > h1 {
    font-size: 80px;
    margin: 0;
    color: #E6D9A2;
}

#credit {
    position: fixed;
    right: 15px;
    bottom: 15px;
    margin: 0;
    color: #CB80AB;
}